.footer-menu-option a:hover,
a:link,
a:active {
    text-decoration: none;
}

@keyframes color-anim {
    from {
        background-color: rgba(0, 0, 0, 0);
    }

    to {
        background-color: rgba(0, 0, 0, .25)
    }
}

.footer-menu-option:hover {
    cursor: pointer;
    animation-name: color-anim;
    animation-duration: .5s;
    background-color: rgba(0, 0, 0, .25)
}